.fieldlayoutform.quick-field .newfieldbtn-container {
	clear: both;
	margin-bottom: 30px;
}

.fieldlayoutform.quick-field .newfieldbtn-container .btn.add {
	border: 1px dashed #2f1fb5;
	padding: 2px 10px 0;
	line-height: 27px;
	color: #2f1fb5;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

body.ltr .fieldlayoutform.quick-field .newfieldbtn-container .btn.add {
	margin-right: 20px;
}

body.rtl .fieldlayoutform.quick-field .newfieldbtn-container .btn.add {
	margin-left: 20px;
}

.fieldlayoutform.quick-field .newfieldbtn-container .btn.add:before {
	margin-top: -2px;
}

.quick-field-modal {
	padding-bottom: 58px;
}

.quick-field-modal > .spinner {
	position: absolute;
	top: calc(50% - 29px - 24px);
	left: calc(50% - 24px);
}

.quick-field-modal .main {
	margin: -24px;
	padding: 24px;
	height: calc(100% - 48px);
	overflow: auto;
	position: relative;
}

.quick-field-modal .body {
	position: relative;
	height: 100%;
}

.quick-field-modal .body .content {
	height: calc(100% + 48px);
}

.quick-field-modal .footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.quick-field-modal .footer .delete {
	display: block;
	line-height: 30px;
	margin: 5px 5px 0 0;
}

.quick-field-modal .footer .buttons.left {
	position: relative;
}

.quick-field-modal .footer .buttons.left .spinner {
	position: absolute;
	right: 100%;
	top: 0;
	margin: 0;
}

.fieldlayoutform.quick-field .fld-tab .qf-settings:before {
	content: 'settings';
}

.fieldlayoutform.quick-field .fld-field .qf-edit:before {
	content: 'edit';
}

.fieldlayoutform.quick-field .fld-tab:not(.unused) .qf-settings,
.fieldlayoutform.quick-field .fld-field:not(.unused) .qf-edit {
	display: none;
}

.fieldlayoutform.quick-field .fld-tab.unused.last {
	margin-bottom: 30px !important;
}
